API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/project.assets.json
API/obj/project.nuget.cache
API/obj/Debug/net7.0/API.assets.cache
API/obj/Debug/net7.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net7.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net7.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net7.0/API.dll
API/obj/Debug/net7.0/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/net7.0/API.genruntimeconfig.cache
API/obj/Debug/net7.0/API.pdb
API/obj/Debug/net7.0/refint/API.dll
API/obj/Debug/net7.0/ref/API.dll
API/obj/Debug/net7.0/apphost.exe
